{% extends "base.html" %} {% block content %}
<div class="mx-auto bg-light p-5 rounded" style="width: 50%">
  <h2 class="text-center">Add new game schedule</h2>
  <br />
  <form method="POST">
    {% csrf_token %}
    <div class="row mb-3">
      <label for="game" class="col-sm-2 col-form-label">Game name</label>
      <div class="col-sm-10">
        <select class="form-control" id="game" name="game">
          {% for game in games %}
          <option value="{{ game.id }}" name="game">{{ game.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="date" class="col-sm-2 col-form-label"
        >Game Date</label
      >
      <div class="col-sm-10">
        <input
          type="date"
          class="form-control"
          id="date"
          name="date"
          required
        />
      </div>
    </div>
  <div class="row mb-3">
      <label for="time" class="col-sm-2 col-form-label"
        >Game Time</label
      >
      <div class="col-sm-10">
        <input
          type="time"
          class="form-control"
          id="time"
          name="time"
          required
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="team1" class="col-sm-2 col-form-label">Team 1</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="team1"
          name="team1"
          required
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="team2" class="col-sm-2 col-form-label">Team 2</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="team2"
          name="team2"
          required
        />
      </div>
    </div>
    {% if messages %}
    <ul style="color: green; list-style-type: none">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
{% endblock content %}
