{% extends "base.html" %}

{% block content %}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#        <button type="submit">Change password</button>#}
{#    </form>#}

        <div class="mx-auto bg-light p-5 rounded" style="width: 50%;">
            <h2 class="text-center">Change password</h2>
            <br>
            <form method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="old_password" class="col-sm-2 col-form-label">Old password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="old_password" name="old_password" >
                        {% for field in form %}
                            {% if field.label == "Old password" %}
                                {% for error in field.errors %}
                                    <p style="color: red;">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="new_password1" class="col-sm-2 col-form-label">New password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="new_password1" name="new_password1" >
                        {% for field in form %}
                            {% if field.label == "New password" %}
                                {% for error in field.errors %}
                                    <p style="color: red;">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="new_password2" class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="new_password2" name="new_password2" >
                        {% for field in form %}
                            {% if field.label == "New password confirmation" %}
                                {% for error in field.errors %}
                                    <p style="color: red;">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>
                {% if form.non_field_errors %}
                    <div style="color: red;">
                        <p>{{ form.non_field_errors }}</p>
                    </div>
                {% endif %}
                {% if messages %}
                    <ul style="color: green; list-style-type: none;">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <button type="submit" class="btn btn-primary">Change password</button>
            </form>
        </div>
{% endblock content %}
